html,
body,
header,
.jarallax {
    height: 600px;
    min-height: 600px;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .jarallax {
        height: 100%;
        min-height: 100%;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
        height: 100%;
        min-height: 100%;
    }
}

@media (min-width: 1020px) and (max-width: 1500px) {
    html,
    body,
    header,
    .jarallax {
        height: 250px;
        min-height: 140px;
    }
}
